body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
 /* overflow: hidden;*/
  width: 100%;
  height: 100%;
}
.anim, .anim svg {
  width: 100vw;
	height: 100vh;
	z-index: 1
}
.anim path {
  stroke-width: 2;
}

.container {
    position: relative;
    display: inline-block;
}

.text{
    position: absolute;
    text-align: center;
	  top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    line-height: 30px;
		color: #FFFFFF;
}

.h1
{
		font-family: 'Roboto Condensed', serif;
		font-size: 69px;
    letter-spacing: 7px;
    font-weight: 700;
    border: 8px solid #FFFFFF;
    line-height: 54px;
    padding: 21px;
    display: inline-block;   
}

.h2
{
		font-family: 'Roboto Condensed', serif;
		font-size: 30px;
    padding: 21px;
}